@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme */
@layer base {
  :root {
    --main-background: 250, 251, 255;
    --text-color: 4, 30, 73;
    --active-color: 11, 87, 208;
    --border-color: 171, 181, 199;
    --main-forceground: 168, 199, 250;
    --hover-forceground: 168, 199, 250;
    --secondary-color: 227, 236, 250;
    --button-color: 11, 87, 208;
    --button-text: 255, 255, 255;
    --color-gray: 243, 244, 246;
  }

  :root.dark {
    --main-background: 3, 21, 37;
    --text-color: 211, 227, 253;
    --active-color: 124, 172, 248;
    --border-color: 138, 155, 178;
    --main-forceground: 8, 66, 160;
    --hover-forceground: 8, 66, 160;
    --secondary-color: 16, 36, 58;
    --button-color: 124, 172, 248;
    --button-text: 4, 30, 73;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-mainBackground text-textColor;
  }
}

@layer components {
  .page-container {
    @apply w-full max-w-[1170px] mx-auto px-2 md:px-5;
  }
  .img-cover {
    @apply w-full h-full object-cover;
  }
  .loading-circle {
    @apply border-4 border-t-4 border-t-transparent w-[35px] h-[35px] rounded-full border-blue-500 animate-spin;
  }
  .line-seperate {
    @apply w-full h-[2px] bg-borderColor opacity-50 mb-5;
  }
  .input-styles {
    @apply p-3 outline-none rounded-md border-2 w-full bg-transparent border-borderColor focus:border-buttonColor;
  }
  .active-button {
    @apply flex items-center justify-center w-[50px] h-[50px] bg-buttonColor text-buttonText shadow-sm rounded-full;
  }
  .non-active-button {
    @apply flex items-center justify-center w-[50px] h-[50px] bg-colorGray dark:bg-transparent border border-borderColor shadow-sm rounded-full cursor-pointer hover:bg-gray-200 dark:hover:bg-hoverForeground;
  }
  .icon-camera {
    @apply w-[40px] h-[40px] absolute -bottom-2 right-5 rounded-full flex items-center justify-center bg-mainBackground  cursor-pointer hover:bg-forcegroundColor  border border-borderColor;
  }
  .edit-button {
    @apply border border-green-500 text-center text-green-500 py-2 w-[100px] font-semibold hover:bg-green-100 rounded-full dark:bg-green-500 dark:text-white dark:hover:bg-green-600;
  }
  .delete-button {
    @apply border border-red-500 text-red-500 py-2 w-[100px] font-semibold hover:bg-red-100 rounded-full dark:bg-red-500 dark:text-white dark:hover:bg-red-600;
  }
  .non-active-link {
    @apply font-medium opacity-90 hover:bg-blue-200 dark:hover:bg-blue-100 text-slate-700 dark:text-gray-200 dark:hover:text-slate-700;
  }
}

/* Other classes */
.toast-sonner {
  font-size: 20px;
}

.dashboard-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.1)
    ),
    url("/dashboard.gif");
}

/* ====> Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  @apply w-[5px];
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-300;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-500;
}

.scrollbar-tab::-webkit-scrollbar {
  @apply h-[8px];
}

.scrollbar-tab::-webkit-scrollbar-track {
  @apply rounded-xl bg-gray-300 dark:bg-blue-900;
}

.scrollbar-tab::-webkit-scrollbar-thumb {
  @apply bg-activeColor rounded-lg;
}

.scrollbar-tab::-webkit-scrollbar-thumb:hover {
  @apply opacity-80;
}

/* ===> Custom react-emoji */
.react-input-emoji--wrapper {
  padding: 5px;
}

.hidden-input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  cursor: pointer;
}

.banner-background {
  background: #36d1dc;
  background: -webkit-linear-gradient(to right, #5b86e5, #36d1dc);
  background: linear-gradient(to right, #5b86e5, #36d1dc);
}

.text-linear {
  @apply bg-cyanLinear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ====> Custom jodit */
.jodit-dialog__panel {
  @apply bg-secondaryColor text-textColor rounded-lg resize-none;
}

.jodit-dialog__footer {
  @apply border-borderColor border-t;
  button {
    @apply bg-buttonColor text-buttonText;
  }
}

.jodit-react-container {
  .jodit-workplace {
    color: #10243a !important;
  }
}

/* Blog format content */
.blog-content {
  :root {
    --primary-color: #e3ecfa;
    --text-color: #10243a;
  }

  :root.dark {
    --primary-color: #10243a;
    --text-color: #e3ecfa;
  }

  h1 {
    @apply text-linear;
  }

  p,
  h1,
  h2,
  h3,
  h4 {
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold break-words leading-normal mb-4;
  }
  h1 {
    font-size: 33px !important;
  }
  h2 {
    font-size: 28px !important;
  }
  h3 {
    font-size: 25px !important;
  }
  h4 {
    font-size: 20px !important;
  }
  p {
    margin-bottom: 13px;
    line-height: 1.5;
  }
  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }
  ul,
  ol {
    margin-bottom: 20px;
    padding-left: 40px;
    margin-left: 0;
  }
  li {
    margin-bottom: 10px;
  }
  img {
    border-radius: 10px;
  }
  figure {
    margin-bottom: 5px;
  }
  figure img {
    border-radius: 20px;
  }
  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 14px;
  }

  @media screen and (max-width: 1023.98px) {
    font-size: 14px;
    h2 {
      font-size: 26px;
    }
    h3 {
      font-size: 24px;
    }
    h4 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 25px;
    }
    h2,
    h3,
    h4 {
      font-size: 18px;
    }
  }
}
